body{
  margin: 0;
  padding: 0;
}

.hi{
  width: 300px;
  height: 200px;
  border: solid 1px red;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  
  cursor: pointer;
}